<template data-component="diagnostics-core" data-role="section">
  <div class="diagnostics-preview" data-ref="preview">
    <canvas data-ref="canvas" hidden></canvas>
    <div data-ref="unsupported" class="webgpu-unsupported" hidden>
      <h3>WebGPU isn't enabled</h3>
      <p>
        This browser currently doesn't expose WebGPU. To continue you can try one of the following options:
      </p>
      <ol>
        <li>Use a Chromium-based browser (Chrome, Edge) version 113 or newer.</li>
        <li>In Chrome/Edge, open <code>chrome://flags</code> and enable <em>Unsafe WebGPU</em>; restart the browser.</li>
        <li>For Firefox Nightly, set <code>dom.webgpu.enabled</code> and <code>gfx.webgpu.dx12</code> (Windows) or <code>gfx.webgpu.mps</code> (macOS) to true in <code>about:config</code>, then restart.</li>
        <li>On Linux ensure you launch Chrome/Edge with <code>--enable-features=Vulkan,UseSkiaRenderer</code>.</li>
        <li>In <strong>iOS Safari</strong> go to your iPhone <code>Settings > Apps > Safari > Advanced > Feature Flags</code> and enable WebGPU</li>
      </ol>
    </div>
  </div>

  <slot name="diagnostics-core-footer">
    <!--
      <core-item>s are going to be added here dynamically,
      see the diagnostics-core.js `updateFooter()` method.
     -->
  </slot>
</template>
