<template data-component="shader-config">
  <div class="tab-container">
    <!-- Radio buttons for tab state -->
    <input type="radio" id="tab1" name="tabs" checked>
    <label for="tab1">Compute</label>
  
    <input type="radio" id="tab2" name="tabs">
    <label for="tab2">Vertex</label>
  
    <input type="radio" id="tab3" name="tabs">
    <label for="tab3">Fragment</label>

    <!-- Tab labels wrapper -->
    <div class="tab-labels">
    </div>

    <!-- Tab panels -->
    <slot class="tab-panels" name="panels">
      <!-- <shader-config-panel id="panel1" class="tab-panel"></shader-config-panel> -->
      <!-- <shader-config-panel id="panel2" class="tab-panel"></shader-config-panel> -->
      <!-- <shader-config-panel id="panel3" class="tab-panel"></shader-config-panel> -->
    </slot>
  </div>

  
  <button onclick="['recompile']">
    Compile
  </button>

</template>
